.machine_picker_items {
    display: flex;
    overflow: auto;
    width: 100%;
    height: 70%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .machine_picker_item {
    display: flex;
    width: 100%;
    height: 10%;
    margin-top: 5px;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    background-color: hsla(0, 0%, 100%, 1);
    transition-property: background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
    cursor: pointer;
  }
  
  .machine_picker_item:hover {
    background-color: hsla(241, 77.63%, 67.22%, 0.52);
  }
  
  .machine_picker_item__header {
    display: flex;
    width: 90%;
    height: auto;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 12px;
    justify-content: flex-start;
    align-items: center;
  }
  .machine_picker_item__icon {
    transition-property: opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
    cursor: pointer;
  }
  
  .machine_picker_item__icon:hover {
    opacity: 0.75;
  }